  // variables
  $background-grey: #f5f5f5;
  $shadow-grey: lightgrey;
  $hr-line-color: #e6e6e6;
  $pastel-gray: #CBCBCB;
  $border-radius-normal: 4px;
  $silver: #BEBEBE;
  $platinum: #EAEAEA;
  $liver: #4B4B4B;

  .header-img {
    background-image: url('./images/header.png');
    width: 100%;
    height: 275px;
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .footer-img {
    background-image: url('./images/footer.png');
    width: 100%;
    height: 140px;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .apply-main-body {
    background-color: $background-grey;
    box-sizing: border-box;
    outline: 0;
    overflow: hidden;
    .form-area {
      float: left;
      width: 770px;
      height: 100%;
      .form-container {
        padding: 30px;
        box-shadow: 1px 1px 5px $shadow-grey;
        margin: 50px 0px;
        margin-left: 125px;
        background-color: white;
        height: 400px;

        .header {
          font-family: 'Montserrat';
          font-size: 24px;
          font-weight: 300;
          color: rgba(26, 36, 44, 1);
        }

        .sep-line {
          margin-left: 0px;
          width: 550px;
        }

        .input-grid {
          width: 585px;
          height: 150px;
        }

        .col-sm-5 {
          height: 70px;
          width: 245px;
          padding: 5px;

          &.right {
            margin-left: 45px;
          }

          .caret {
            position: absolute;
          }

          .label {
            font-family: 'Open Sans';
            font-size: 14px;
            color: rgba(26, 36, 44, 1);
            font-weight: 100;
          }

          .dropdown select {
            width: 220px;
            text-align: left;
            -webkit-appearance: none;
            border: 1px solid $hr-line-color;
            border-radius: $border-radius-normal;
            font-family: 'Open Sans';
            font-size: 14px;
            color: rgba(26, 36, 44, 1);
            font-weight: 100;
            background: url('./images/dropdown.png') no-repeat #f5f5f5 95% 10px;
            background-size: 15px;
            padding: 5px;
          }
        }

        .col-sm-4 {
          a {
            line-height: 3;
            font-size: 12px;
            padding-left: 5px;
            text-decoration: underline;
          }
        }

        .add-pgm-btn {
          color: white;
          font-size: 12px;
          float: right;
          margin-right: 70px;
          width: 120px;
        }

        .continue-btn {
          float: right;
          margin-right: 70px;
          color: white;
          font-size: 12px;
          background-color: lightgrey;
          width: 120px;
        }

        .row.last-row {
          margin-top: 15px;  
        }
      }
    }
    .selected-pgms-area {
      float: right;
      width: 400px;
      padding: 30px 0px;
      margin: 50px 0px;
      background-color: $background-grey;
      .heading {
        color: #1a242c;
        font-size: 16px;
        font-family: 'Montserrat';
      }
      hr {
        margin-top: 2px;
        margin-bottom: 20px;
        width: 290px;
        border: 0;
        border-top: 1px solid $hr-line-color;
        margin-left: 0;
      }
      .content {
        width: 290px;
        color: #c4c4c4;
        font-family: 'Open Sans';
        font-size: 16px;
        font-weight: 100;
      }
    }
  }

  @media only screen and (max-width: 899px) {
    .apply-main-body {
      height: 210px;
    }
  }

  @media only screen and (min-width: 900px) {
    .apply-main-body {
      height: 500px;
    }
  }
