<div class="customize-main">
  <div class="header-img"></div>
  <div class="customize-main-body">
    <div class="list-area">
      <div class="search-add-container">
        <input type="search" class="search-box" placeholder="SEARCH"/>
        <button type="button" class="add-button">ADD CUSTOM APPLICATION</button>
      </div>
      <div class="list-container">
        <table>
          <colgroup>
            <col span="1" style="width: 40px">
            <col span="1" style="width: 209px">
            <col span="1" style="width: 305px">
            <col span="1" style="width: 158px">
            <col span="1" style="width: 277px">
            <col span="1" style="width: 65px"> 
          </colgroup>
          <tr class="list-heading">
            <th></th>
            <th>Application Name</th>
            <th>Custom URL</th>
            <th>Business Division</th>
            <th>Header Image</th>
            <th>Edit</th>
          </tr>
          <tr class="list-item">
            <td
            [ngClass]="{'show-more': !firstItemClicked,
            'show-less': firstItemClicked}"
            (click)="expandItem(1)">
            </td>
            <td>Arizona State University</td>
            <td>https://www.studiesabroad.com/apply/asu ISA</td>
            <td>ISA</td>
            <td class="header-image"></td>
            <td>
              <div class="edit"></div>
              <div class="delete"></div>
            </td>
          </tr>
        </table>
        <div
        *ngIf="firstItemClicked"
        class="first-item-details">
          <table>
            <colgroup>
              <col span="1" style="width: 40px">
              <col span="1" style="width: 169px">
              <col span="1" style="width: 194px">
              <col span="1" style="width: 200px">
              <col span="1" style="width: 451px">
            </colgroup>
            <tr>
              <td></td>
              <td class="left-column-features">Custom Unívcrsity:</td>
              <td class="left-column-answers">UT, UNT, UMass</td>
              <td class="left-column-features">Cancellation Policy</td>
              <td class="left-column-answers">Custom</td>
            </tr>
            <tr>
              <td></td>
              <td class="left-column-features">Approved Programs:</td>
              <td class="left-column-answers">All</td>
              <td class="left-column-features">Contact lnformation</td>
              <td class="left-column-answers">Custom</td>
            </tr>
            <tr>
              <td></td>
              <td class="left-column-features">Deposit Type:</td>
              <td class="left-column-answers">Default</td>
              <td class="left-column-features">Confirmation Page</td>
              <td class="left-column-answers">Default</td>
            </tr>
            <tr>
              <td></td>
              <td class="left-column-features">Financial Aid Sertion:</td>
              <td class="left-column-answers">Yes</td>
              <td class="left-column-features">Reponsible Employees</td>
              <td class="left-column-answers">Custom</td>
            </tr>
            <tr>
              <td></td>
              <td class="left-column-features">Release:</td>
              <td class="left-column-answers">Custom</td>
              <td class="left-column-features"></td>
              <td class="left-column-answers"></td>
            </tr>
          </table>

        </div>
        <div class="application-list-img"></div>
      </div>
    </div>
    
  </div>
  <div class="footer-img"></div>
</div>
