<div class="login-main">
  <div class="login-form">
    <div class="app-logo">
    </div>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
    </div>
    <div class="input-group">
      <input type="password" class="form-control" placeholder="Password" aria-describedby="basic-addon1">
    </div>
    <div class="btn btn-default">
      <a routerLink="/dashboard">Login</a>    
    </div>
  </div>
  <div class="progress-bar-container">
     <progress-bar *ngIf="showProgressBar" ></progress-bar>   
  </div>
</div>