<div class="apply-main">
  <div class="header-img"></div>
  <div class="apply-main-body">
    <div class="form-area">
      <div class="form-container">
        <div class="form-container-upper">
          <div class="label">Application Name</div>
          <div class="dropdown">
            <select>
              <option value="0"></option>
              <option value="1">ISA Demo 101</option>
              <option value="2">ISA Demo 102</option>
              <option value="3">ISA Demo 103</option>
            </select>
          </div>
          <div class="label">Custom URL</div>
          <div class="dropdown">
            <select>
              <option value="0"></option>
              <option value="1">https://www.studiesabroad.com/apply</option>
              <option value="2">https://www.studiesabroad.co.uk/edit</option>
              <option value="3">https://www.studiesabroad.co.us/customize</option>
            </select>
          </div>
          <hr class="sep-line">
        </div>
        <div class="form-container-bottom"></div>
      </div>
    </div>
    <div class="selected-pgms-area">
      <div class="selections-container">
        <div class="checkbox-group">
          <div>
              <input type="checkbox" id="mycheckbox1" aria-label="box-1">
              <label for="mycheckbox1">
                <span class="label">Default Release</span>
              </label>
          </div>
          <div>
              <input type="checkbox" id="mycheckbox2" aria-label="box-1">
              <label for="mycheckbox2">
                <span class="label">Default Cancellation Policy</span>
              </label>
          </div>
          <div>
              <input type="checkbox" id="mycheckbox3" aria-label="box-1">
              <label for="mycheckbox3">
                <span class="label">Default Contact Information</span>
              </label>
          </div>
          <div>
              <input type="checkbox" checked="true" id="mycheckbox4" aria-label="box-1">
              <label for="mycheckbox4">
                <span class="label">Default Confirmation page</span>
              </label>
          </div>
          <div>
              <input type="checkbox" checked="true" id="mycheckbox5" aria-label="box-1">
              <label for="mycheckbox5">
                <span class="label">Default Notifications</span>
              </label>
              <div class="sub-label">Default = PM assigned to site</div>
          </div>
          <div class="btn btn-default update-btn">
            <a routerLink="/customize" class="login-redirect-btn">UPDATE</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-img"></div>
</div>
